.left-colum {
    background-color: #D3D3D3;
    height: 100vh;
}

.right-colum {
    height: 100vh;
    background-color: aliceblue;
}

.user__user-name {
    font-size: 36px;
    font-family: "Mistral";
    margin-top: 25px;
}

.user-avatar__icon {
    width: 100%;
    margin: 25px auto;
}

.user-avatar__icon:hover {
    box-shadow: -31px 22px 49px 0px rgba(116, 140, 127, 1);
}

.user-info__list-opt {
    list-style: none;
    padding: 0;
    margin: 10px 0;
}

.user-info {
    display: none;
}

.wrapper-inf:hover .user-info {
    display: block;
}

.user-info__hobbies {
    text-transform: lowercase;
    text-align: center;
    font: italic 16px 'Copperplate Gothic Light';
}

.user-info__data-day {
    font: italic 16px 'Constantia';
}

.user-info__head {
    font: 20px 'Constantia';
}

.user-avatar {
    width: 90%;
    margin: 0 auto;
}

@media(max-width:767px) {
    .left-colum {
        height: auto;
    }
    .user-avatar__icon {
        margin: 25px auto;
    }
    .user-avatar {
        width: 50%;
    }
}

.reklama {
    font-family'Constantia';
    font-size: 40px;
}