$grey: #787778;


.avatar {
  width: 100%;
  margin: 15px auto 15px 15px;
}

.title__name {
  text-transform: capitalize;
  margin-bottom: 40px;
  margin-left: 15px;
}

.row__profile {
  font-size: 17px;
  list-style: none;

  .col-xs-4 {
    color: $grey;
  }

  .col-xs-8 {
    text-transform: lowercase;
  }
}

.linkOnSlideShow {
  margin-left: 42px;
  display: block;
}

#news {
  list-style: none;
}

#text {
  margin-left: 15px;
}

.female, .male{
  margin-left: 15px;
  float: left;
}

.clear {
  clear: both;
}

#images {
  text-align: center;
}

#images img{
  width: 120px;
  height: 190px;
  margin: 5px 5px;
}

#selectedImg {
  text-align: center;
  margin-top: 10px;
}

.jQuerySlideShow {
  display: block;
  margin-left: 42px;
}

.slides {
  &__show {
    background-color: #999999;
    width: 400px;
    overflow: hidden;
    margin: auto;

    &Img {
      width: 16000px;
      position: relative;
      left: 0;
      /*margin: auto 40px auto 40px;*/

    }

    &Img img {
      width: 400px;
      height: 490px;
      float: left;
    }

    &Img img:first-child {
      text-align: center;
    }
  }

  &__autoplay {
    background-color: #28a4c9;
    width: 400px;
    margin: auto;

    & p {
      text-align: center;
    }
  }
}

.slides-wrap {
  position: relative;
  width: 400px;
  margin: auto;

  &__leftArrow, &__rightArrow{
    width: 40px;
    height: 40px;
    background-color: #28a4c9;
    position: absolute;
    display: block;
    z-index: 2;
    top: 215px;
    left: -40px;
  }

  &__rightArrow {
    margin-left: 440px;
  }
}
