$grey: #787778;


.avatar {
  width: 100%;
  margin: 15px auto 15px 15px;
}

.title__name {
  text-transform: capitalize;
  margin-bottom: 40px;
  margin-left: 15px;
}

.row__profile {
  font-size: 17px;
  list-style: none;

  .col-xs-4 {
    color: $grey;
  }

  .col-xs-8 {
    text-transform: lowercase;
  }
}

#news {
  list-style: none;
}

#text {
  margin-left: 15px;
}

.female, .male {
  float: left;
}

.male {
  margin-left: 80px;
}

.clear {
  clear: both;
}